[package]
authors = ["Analog Maintainers <maintainers@analog.foundation>"]
edition = "2018"
name = "analog-net-shaper"
description = "The analog cluster network shaping tool"
version = "1.9.0"
repository = "https://github.com/analog-labs/analog"
license = "Apache-2.0"
homepage = "https://analog.com/"
publish = false

[dependencies]
clap = "2.33.1"
serde = "1.0.130"
serde_json = "1.0.69"
analog-clap-utils = { path = "../clap-utils", version = "=1.9.0" }
analog-logger = { path = "../logger", version = "=1.9.0" }
rand = "0.7.0"

[[bin]]
name = "analog-net-shaper"
path = "src/main.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
