[package]
name = "analog-vote-program"
version = "1.9.0"
description = "Analog Vote program"
authors = ["Analog Maintainers <maintainers@solana.foundation>"]
repository = "https://github.com/analog-labs/solana"
license = "Apache-2.0"
homepage = "https://solana.com/"
documentation = "https://docs.rs/analog-vote-program"
edition = "2018"

[dependencies]
bincode = "1.3.3"
log = "0.4.14"
num-derive = "0.3"
num-traits = "0.2"
serde = "1.0.130"
serde_derive = "1.0.103"
analog-frozen-abi = { path = "../../frozen-abi", version = "=1.9.0" }
analog-frozen-abi-macro = { path = "../../frozen-abi/macro", version = "=1.9.0" }
analog-logger = { path = "../../logger", version = "=1.9.0" }
analog-metrics = { path = "../../metrics", version = "=1.9.0" }
analog-sdk = { path = "../../sdk", version = "=1.9.0" }
thiserror = "1.0"

[dev-dependencies]
analog-program-runtime = { path = "../../program-runtime", version = "=1.9.0" }

[build-dependencies]
rustc_version = "0.4"

[lib]
crate-type = ["lib"]
name = "analog_vote_program"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
